@model WebApplication1.Models.Project

@{
    ViewBag.Title = "Details";
}

<div>
    <div class="project-label-pk">
        @Html.DisplayFor(model => model.ProjectDescription)
    </div>
    <div class="btn-main-pk">
        @Html.ActionLink("Change", "Edit", new { @id = Model.ProjectId }, new { @class = "btn btn-warning", @style = "border-radius:15px;" })
        @Html.ActionLink("Delete", "Delete", new { @id = Model.ProjectId }, new { @class = "btn btn-danger", @style = "border-radius:15px;" })
    </div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ProjectDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProjectDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Team)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalEstimate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalEstimate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HeadOfProject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeadOfProject)
        </dd>

    </dl>
</div>
<div class="task-div-pk">
    @if (Model.Backlogs != null)
    {
        <table class="table" style="font-size:12px; width:90%; margin-left:8%;">

            @foreach (var backlog in Model.Backlogs)
            {
                <tr>
                    <td>
                        @Html.ActionLink(@backlog.BacklogDescription, "Details", "Backlogs", new { @id = backlog.BacklogId }, null)
                    </td>
                    <td>
                        @backlog.CreatedOn
                    </td>
                    <td>
                        @backlog.CreatedBy
                    </td>
                    <td>
                        @backlog.TotalEsimate
                    </td>
                    <td>
                        @{ int totalDone = 0;
                            foreach (var task in backlog.Tasks)
                            {
                                if (task.HoursDone != null)
                                {
                                    totalDone += task.HoursDone.Value;
                                }
                            }
                        }
                        @totalDone
                    </td>
                </tr>
            }

        </table>

    }
    <div class="add-div-pk">@Html.ActionLink("+", "Create", "Backlogs", new { @projectId = Model.ProjectId }, new { @class = "btn-add-pk" })</div>
</div>
