@model IEnumerable<WebApplication1.Models.Project>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

@section Body{
    @foreach (var item in Model)
    {
        <div class="row col-mar">
            <div class="col-sm-7 hover-element-pk line-with-btn" style="padding-left:1em;">
                @Html.ActionLink(item.ProjectDescription, "Details", new { @id = item.ProjectId }, null)
            </div>
            <div class="col-sm-5">
                @Html.ActionLink("My Tasks", "Index", "ProjectTasks", new { projectid = item.ProjectId, user = Utility.User }, new { @class = "btn btn-sm btn-mx btn-success", @style = "border-radius:15px;" })
                @if (Html.Action("CanManageProject", new { projectid = item.ProjectId }).ToString().Equals("1"))
                {
                    @Html.ActionLink("Change", "Edit", new { @id = item.ProjectId }, new { @class = "btn btn-sm btn-mx btn-success", @style = "border-radius:15px;" })
                    @Html.ActionLink("Delete", "Delete", new { @id = item.ProjectId }, new { @class = "btn btn-sm btn-mx btn-danger", @style = "border-radius:15px;" })

                    if (Html.Action("AmILead", new { projectid = item.ProjectId }).ToString().Equals("1"))
                    {
                        @Html.ActionLink("My Team", "IndexLeadTeam", "Account", new { leadid = Utility.User, projectid = item.ProjectId }, new { @class = "btn btn-sm btn-mx btn-danger", @style = "border-radius:15px;" })

                    }
                }
            </div>
        </div>
    }
    <div class="add-div-pk hover-element-pk"> @Html.ActionLink("+", "Create", "", new { @class = "btn-add-pk" }) </div>
}
