@model WebApplication1.Models.Backlog

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Backlog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Project </label>@Html.DisplayNameFor(model => model.BacklogDescription)
        </dt>
        <dd>
            @ViewBag.ProjectDescription
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BacklogDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BacklogDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreatedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedBy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BacklogState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BacklogState)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BacklogId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
