 @model IEnumerable<WebApplication1.Models.Backlog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BacklogId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BacklogId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BacklogId })
        </td>
        <td>
            + @Html.ActionLink("Add Task","Create", "BacklogTasks", new { @id = item.BacklogId }, null)
        </td>
    </tr>
    if (item.Tasks != null)
    {
        <tr>
            <td>
                <label>Created On</label>
            </td>
            <td>
                <label>Description</label>
            </td>
            <td>
                <label>Hours Done</label>
            </td>

        </tr>

        foreach (var task in item.Tasks)
        {
        <tr>
            <td>
                @task.CreatedOn
            </td>
            <td>
                @task.Description
            </td>
            <td>
                @task.HoursDone
            </td>
        </tr>
        }
     }
    }

</table>
