<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
</head>
<!------ Include the above in your HEAD tag ---------->
<div style="margin-bottom:2em;">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("ReportLand", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </div>
<div class="container col-sm-2 col-lg-2">
    <nav class="main-navigation-bar-pk">
            <div class="active main-navigation-bar-div-pk hover-element-pk">
                <a href="/">Home</a>
                </div>
            <div class="dropdown main-navigation-bar-div-pk hover-element-pk">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Create<span class="caret"></span></a>
                <ul class="dropdown-menu forAnimate" role="menu">
                    <li><a href="/Projects/Index">Project</a></li>
                    <li><a href="/Backlogs/Index">Backlog</a></li>
                </ul>
            </div>
    </nav>
</div>

<div class="container-fluid col-sm-8 col-lg-8">
    <div>
        @RenderSection("Body")
    </div>
</div>

<div class="col-sm-1 col-lg-2 text-center">
    @RenderSection("Additional", required: false)
</div>


@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("scripts", required: false)