@model WebApplication1.Models.Project_User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Project_User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.isPM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isPM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isLead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isLead)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isDev)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isDev)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProjectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
